body {
    background-color: rgba(1, 51, 26, 0.842);
}

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.text-field {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.text-field > h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

.blocs-section {
    margin-left: 30% ;
    margin-right: 30%;
    display: flex;
    justify-content: center;
}

.blocs {
    /* display: flex;
    flex-wrap: column; */
    /* width: 400px;
    height: 400px; */
    /* background-color: aqua; */
    /* justify-content: space-evenly;
    justify-items:space-evenly; */
    padding: 15px;
}

.blocs-line {
    display: flex;
}

.bloc {
    /* try later width and height with % */
    width: 110px;
    height: 110px;
    border: 3px solid rgb(22, 6, 6) ;
    border-radius: 10%;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    /* box-shadow: 10px 10px 5px lightblue inset;
    box-shadow: 10px 10px 5px lightblue; */
    /* box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.8); */
}


.green {
    background-color: rgba(20, 185, 20, 1) ;
    /* box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.8); */
}

.red {
    background-color: rgba(248, 69, 69, 0.966);
}

.yellow {
    background-color: rgba(206, 206, 18, 0.932);
}

.blue {
    background-color: rgba(72, 72, 207, 0.938);
}

/* .btn {
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: none;
} */


.option {
    width: 110px;
    height: 35px;
    border: 1px solid rgb(22, 6, 6) ;
    border-radius: 4%;
    margin-right: 25px;
    margin-bottom: 25px;
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(131, 148, 185);
    cursor: pointer;
}

